
{% extends "base.html" %}

{% block content %}
	

		<form action="input" method="POST" id='myform'>

			<div class="selct_from"> <p>
		    	
			<select id = "from" name="from" style="width:200px">

		    	{% if from_data %}
		    		{% for i in from_data %}
		    		<option value="{{i}}">{{i}}</option>	
		      		
		      		{% endfor %}
		      	{% endif %}
		    	
		    	</select>	</p>		      
					    
			</div>


			<div class="selct_to"> <p>

			    <select name="to" style="width:200px" id="to">
			    	{% if to_data %}
			    		{% for j in to_data %}
			    		<option value="{{j}}">{{j}}</option>	
			      		
			      		{% endfor %}
			      	{% endif %}
			    	
			    </select>	
			    </p>		
			</div>

			<input class="button" type="submit" value="Search">
	</form>
			    			
			
{% endblock %}